body {
	margin: 0;
	background: url(images/congruent_pentagon.png);
}
.container {
	margin: 50px;
	background-color: #ffcc91;
}


/* Header styles */


.title-styles {
	border-bottom: 2px solid rgba(255, 255, 255, .8);
	display: flex;
	justify-content: space-around;
	padding: 4px;
	max-height: 200px;

	font-family: "Indie Flower", san-serif;
	text-align: center;
}
#icon-pic {
	height: 180px;
	width: 180px;
	border-radius: 200px 200px 200px 200px;
	moz-border-radius: 200px 200px 200px 200px;
	webkit-border-radius: 200px 200px 200px 200px;
	border: 0px solid #000000;
	margin: 10px;
}
h1 {
	font-size: 40px;
	color: #6900b8;
}
h2 {
	font-family: "Indie Flower", san-serif;
	font-size: 30px;
}


/* Heading styles end, Main section text styles start */

h3 {
	font-family: "Indie Flower", san-serif;
	font-size: 20px;
}
p {
	font-family: Lato, san-serif;
}
ul {
	font-family: Lato, san-serif;

}
a {
	font-family: Lato, san-serif;
	text-decoration: none;
	padding: 4px;
	background-color: rgba(255, 255, 255, .8);
}

/* Main section Text styles end, main section styles start */


.article {
	border: 3px solid purple;
	display: flex;

}
.left-side {
	border: 3px solid pink;
	flex-basis: 20%;
}

li {
	display: inline-flex;
	border: 2px solid #6900b8;
	margin-bottom: 5px;
}

.main {
	flex-basis: 80%; 
	border-left: 2px solid rgba(255, 255, 255, .8);
	padding-left: 5px;
}

.post {
	border: 3px solid blue;
}

.history {
	margin: 6px 6px;
    width: 130px;
    height: 180px;
	float: right;
	border: 2px double grey;

	
}

.links {
	border-top: 2px solid rgba(255, 255, 255, .8);
}